<footer>
  <div class='container mt-5'>
  	<div class='row'>
    	<div class='mx-auto'>
    	  <!--mx-auto 意味)margin:0 auto ; （要素を真ん中に）-->
    		<p>CopyRight Infratop.inc</p>
    	</div>
    </div>
  </div>
</footer>
